@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

/* Global */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background-color: #333;
}

.pages {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 40px;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 7%;
  background-color: #333;
}

.bars-button {
  display: none;
}

.logo {
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 34px;
  text-decoration: none;
}

.links {
  display: flex;
  align-items: center;
  gap: 30px;
}

.links a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 400;
  padding: 10px 20px;
  position: relative;
}

.links a::after {
  position: absolute;
  content: "";
  bottom: 5px;
  left: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: all 0.8s ease;
}

.links a:hover {
  color: #333;
  z-index: 1;
  transition: all 0.8s ease;
}

.links a:hover::after {
  height: 80%;
  z-index: -1;
}

/* Search Bar */
form {
  display: flex;
  justify-content: center;
  margin: 15px 0 10px 0;
  position: relative;
}

input {
  width: 30%;
  font-family: inherit;
  border: 0;
  border-bottom: 2px solid #fff;
  outline: 0;
  font-size: 1.2rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
}

button {
  background-color: #333;
  border: 1px solid #fff;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
  padding: 0.8rem 1.2rem;
  text-align: center;
  text-decoration: none #333 solid;
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  border: 2px solid #fff;
}

button:hover {
  background-color: #fff;
  color: #333;
}

/* Movie Display */
.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 5px;
  justify-content: flex-start;
}

.movie-image {
  display: block;
}

/* Media Queries */
@media only screen and (max-width: 981px) {
  .navbar {
    padding: 25px 3%;
  }
  .links a {
    font-size: 16px;
  }
}

@media only screen and (max-width: 768px) {
  .links {
    display: none;
  }
  .links.active {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #333;
    align-items: center;
    justify-content: center;
  }

  .bars-button {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 50px;
    height: 40px;
    z-index: 4;
    position: relative;
  }

  .bars-button span {
    background-color: #fff;
    width: 100%;
    height: 2px;
    transition: all 0.3s ease;
  }

  .bars-button.active span:nth-child(2) {
    display: none;
  }

  .bars-button.active span:nth-child(1) {
    position: absolute;
    transform: rotate(-45deg);
  }

  .bars-button.active span:nth-child(3) {
    position: absolute;
    transform: rotate(45deg);
  }
}
